/*.contenedorfotos {
    border: 5px solid red;
    position: relative;
}*/

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    height: 300px;
    padding: 0;
    z-index: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    background-size: cover;
    background-position-y: center;
    width: 100%;
    height: 100%;
    border: 0;
}

.rslides .mensaje {
    max-width: 700px;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
}

.rslides .mensaje h5 {
    font-size: 22px;
}

.rslides .mensaje h1 {
    font-size: 54px;
}

.rslides .mensaje p {
    font-size: 18px;
}

.rslides .mensaje a {
    width: 150px;
    height: 60px;
    margin: 10px 0;
    padding: 20px 10px;
    border-radius: 5px;
}

@media screen and (max-width:390px) {
    .rslides {
        height: 350px;
    }

    .rslides .mensaje {
        width: 80%;
    }
}